sudo apt update
sudo apt install python3-pip python3-venv python3-dev build-essential libssl-dev libffi-dev -y
mkdir ~/my_flask_project
cd ~/my_flask_project
python3 -m venv venv
source venv/bin/activate
pip install Flask
